        <div class="container-fluid">
                                                                                        
                <div class="row-fluid">
                                                                
                                    </div>

                <div class="row-fluid">
                    
                    <div class="content span12">
                        
                            
                                                            <div class="sonata-ba-content">    <div class="connection">
        <form action="/admin/login_check" method="post">

            
            <input type="hidden" name="_csrf_token" value="f19f701499836a78fbca2e205e462d85e9b6fbf7" />

            <div class="control-group">
                <label for="username">Username:</label>

                <div class="controls">
                    <input type="text" id="username" name="_username" value="" class="big sonata-medium"/>
                </div>
            </div>

            <div class="control-group">
                <label for="password">Password:</label>

                <div class="controls">
                    <input type="password" id="password" name="_password" class="big sonata-medium" />
                </div>
            </div>

            <div class="control-group">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    Remember me
                </label>
            </div>

            <div class="form-actions">
                <input type="submit" class="btn btn-primary" id="_submit" name="_submit" value="Login" />
            </div>
        </form>
    </div>
</div>